<!DOCTYPE html>
<html>
<head>
  <title>Croshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<ul class="nav nav-tabs" role="tablist">
  		<li class="active"><a href="#">Home</a></li>
  		<li><%= link_to "Statuses", statuses_path %></li>
  		<li><a href="#">Messages</a></li>
	</ul>

	<p class="bg-primary">
		<span class="big-title">Croshare</span>

		<div class="description">Post amazing crochet, knitting and craft patterns. Share immediately with your friends.
		</div>	
	</p>

	<br />
	

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
