<!DOCTYPE html>
<html>
<head>
  <title>Croshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<ul class="nav nav-tabs" role="tablist">
  		<li><%= link_to "Home", statuses_path %></li>
  		
	</ul>

	<p class="bg-primary">
		<span class="big-title">Croshare</span>

		<div class="description">Post amazing crochet, knitting and craft patterns. Share immediately with your friends.
		</div>	
	</p>
	
	<p class="notice"><%=notice%></p>
	<p class="alert"><%=alert%></p>

	</div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
